<div class="row">
  <div class="large-12" id="ui">
    <div style="text-align:center">
      <br />
      <br />
      <h1 id="service-name"><%= t('service_name') %></h1>
      <h4 id="service-slogan"><%= t('service_slogan') %></h4>
      <br />
      <button id="share-step-1" class="ladda-button" data-color="blue" data-style="expand-right"><%= t('home.share_ui.btn_step1') %></button>
      <br />
      <div id="sharing" style="display:none;">
        <%= t('home.share_ui.sharing') %><br />
        <%= t('home.share_ui.view_at', :link => "<a href='#{t :service_url}' target='_blank'>#{t :service_url}/<span class='id-placeholder'></span></a>").html_safe %>
      </div>
      <div id="opened" style="display:none;"><%= t('home.share_ui.someone_opened') %></div>
      <br />
      <div id="share-actions">
        <button id="share-audio" class="ladda-button" data-color="blue" data-style="expand-right" style="display:none;"
            data-waiting-for-permission-text="<%= t('home.share_ui.audio_waiting_for_permission') %>"
            data-sharing-success-text="<%= t('home.share_ui.audio_shared') %>"
            data-sharing-failed-text="<%= t('home.share_ui.audio_sharing_failed') %>">
          <span class="button-text">
            <%= t('home.share_ui.share_audio_also') %>
          </span>
        </button>
        <button id="stop-sharing" class="ladda-button" data-color="red" style="display:none;">
          <%= t('home.share_ui.stop_sharing') %>
        </button>
      </div>
      <br />
      <div id="share-steps">
        <div class='images'><img src="<%= image_url('steps.png'); %>" /></div>
        <div class="steps-wrapper">
          <div class='step step1'><div class='step-text'><%= t('home.steps.step1') %></div></div>
          <div class='step step2'><div class='step-text'><%= t('home.steps.step2') %></div></div>
          <div class='step step3'><div class='step-text'><%= t('home.steps.step3') %></div></div>
        </div>
      </div>
      <br />
      <br />
      <hr />
      <div style="position:relative;">
        <a href="javascript:void(0);" class="ppv" style="position: absolute; width: 200px; height: 200px; top: 0px; left: 200px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 400px; left: 10px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 400px; left: 345px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 400px; left: 690px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 920px; left: 10px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 920px; left: 345px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 920px; left: 690px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 1500px; left: 10px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 1500px; left: 345px;"></a>
        <a href="javascript:void(0);" class="ppv" style="position: absolute; top: 1500px; left: 690px;"></a>
        <center><img src='<%= image_path('portal-mock.jpg'); %>' /></center>
        <div id="ppv-hover" style="position:absolute;">
          <img src='<%= image_path('watch-overlay-mock.jpg'); %>' />
        </div>
      </div>
    </div>
  </div>

  <div id="share-modal" class="reveal-modal small" data-reveal>
    <div class="extension-installed" style="display:none;">
      <div class="row collapse">
        <div class="medium-12 columns">
          <h4 style="text-align:center;margin-bottom:20px;"><%= t('home.extension_install.not_installed_title') %></h4>
          <p><%= t('home.extension_install.not_installed_text') %></p>
        </div>
      </div>
      <div class="row">
        <div style="text-align:center;" class="small-12 medium-12 columns">
          <a id="ext-inline-install-link" href="javascript:void(0)" data-loading-text="<%= t('home.extension_install.wait') %>"><%= t('home.extension_install.install') %></a>
          <div id="ext-inline-install-failed" style="display:none";>
            <span><%= t('home.extension_install.failed') %></span><br />
            <a href="#" id="chrome-extension-fallback-link" target="_blank"><%= t('home.extension_install.direct_link') %></a><br />
            <span><%= t('home.extension_install.reload') %></span><br />
          </div>
        </div>
      </div>
    </div>
    <div class="no-extension" style="display:none;">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <h4 style="text-align:center;margin-bottom:20px;"><%= t('home.share_ui.url_header') %></h4>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-10 medium-10 columns">
          <input type="text" id="share-identifier">
          <div style="text-align:center; line-height: 15px;">
            <a href="#" style="font-size:12px;" id="new-random-url"><%= t('home.share_ui.new_random') %></a>
            <span style="font-size:10px;">&nbsp;|&nbsp;</span>
            <a href="#" style="font-size:12px;" id="select-ending"><%= t('home.share_ui.own_ending') %></a>
          </div>
        </div>
        <div class="small-2 medium-2 columns">
          <button id="share-step-2" class="button small postfix expand"><%= t('home.share_ui.btn_step2') %></button>
        </div>
      </div>
    </div>
  </div>


  <div id="faq-modal" class="reveal-modal medium" data-reveal>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <h4 style="text-align:center;margin-bottom:20px;"><%= t('home.faq.faq_title') %></h4>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-12 medium-12 columns">
          <div style="text-align:center; line-height: 15px;">
            <p><%= t('home.faq.faq_text_html') %></p>
          </div>
        </div>
      </div>
  </div>

  <div id="feedback-modal" class="reveal-modal small" data-reveal>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <h4 style="text-align:center;margin-bottom:20px;"><%= t('home.feedback.feedback_title') %></h4>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-12 medium-12 columns">
          <div style="text-align:center; line-height: 15px;">
            <p><%= t('home.feedback.feedback_text') %></p>
          </div>
          <div style="text-align:center; line-height: 15px;">
            <a href="mailto:teleportscreen@gmail.com" target="_top">teleporting.screen@gmail.com</a>
          </div>
        </div>
      </div>
  </div>

  <div id="login-modal" class="reveal-modal small" data-reveal>
      <div class="row collapse">
        <div class="small-12 medium-12 columns">
          <center><img src='<%= image_path('login-mock.gif'); %>' /></center>
        </div>
      </div>
  </div>

</div>

<% if @extension_just_installed %>
  <% content_for :javascripts do %>
    <script>
    $(function(){
      TeleportScreen.extensionIsLoaded = true
      $("#share-step-1").click()
      history.pushState({},'','/')
    });
    </script>
  <% end %>
<% end %>

<% content_for :javascripts do %>
<script>
jQuery("#login-button").on('click', function(){
  jQuery('#login-modal').show();
  jQuery('#login-modal').foundation('reveal', 'open');
});
$(".ppv").on('mouseover', function(){
  addT = parseInt($(this).width())/2
  addL = (parseInt($(this).width())/2) - 80
  $("#ppv-hover").show().css("top",parseInt($(this).css('top'))+addT).css("left",parseInt($(this).css('left'))+addL)
});
$(".ppv").on('mouseout', function(){
  $("#ppv-hover").hide()
});
</script>
<% end %>
