<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dbkiolhkacgipikjnjncjifknfmfogom">

    <title><%= content_for?(:title) ? yield(:title) : t('service_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="action-bar">
      <div id="action-bar-area">
        <div id="mute-button" class="action-bar-item unmuted" title="Mute">
          <div class="action-bar-icon"></div>
        </div>
        <div id="" class="action-bar-item right action-bar-dialog" title="<%= t('menu.feedback_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.feedback') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="" class="action-bar-item right action-bar-dialog" title="<%= t('menu.faq_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.faq') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="share-button" class="action-bar-item right action-bar-dialog" title="<%= t('menu.share_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.share') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="email-button" class="action-bar-item right action-bar-dialog" title="<%= t('menu.button_tooltip') %>">
          <a href="/"  class="action-bar-link"><%= t('menu.button') %></a>
          <div class="action-bar-icon"></div>
        </div>

        <div id="language-select">
          <a href="/"><img src="<%= image_path('logo30px.png') %>" alt="home" /></a>
          <a href="/?lang=en"><img src="<%= image_path('gb.png') %>" alt="en" /></a>
          <a href="/?lang=fi"><img src="<%= image_path('fi.png') %>" alt="fi" /></a>
        </div>

      </div>
    </div>
  </div>

  <div id="has-support-body" style="display:none;">
    <%= yield %>
  </div>
  <div id="no-support-body" style="display:none;">
    <div class="row">
      <div class="columns medium-4 medium-centered text-center">
        <br /><br />
        <h4>Unfortunately your browser is unsupported</h4>
        <p>Try <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a> or <a href="https://download-chromium.appspot.com/" target="_blank">Chromium</a></p>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
  <%= yield :javascripts %>
  </body>
</html>
