<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dbkiolhkacgipikjnjncjifknfmfogom">

    <title><%= content_for?(:title) ? yield(:title) : t('service_name') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="action-bar">
      <div id="action-bar-area">
        <div id="mute-button" class="action-bar-item unmuted" title="Mute">
          <div class="action-bar-icon"></div>
        </div>
        <div id="" class="action-bar-item right action-bar-dialog" title="<%= t('menu.feedback_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.feedback') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="" class="action-bar-item right action-bar-dialog" title="<%= t('menu.faq_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.faq') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="share-button" class="action-bar-item right action-bar-dialog" title="<%= t('menu.share_tooltip') %>">
          <a class="action-bar-link"><%= t('menu.share') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="email-button" class="action-bar-item right action-bar-dialog" title="<%= t('menu.button_tooltip') %>">
          <a href="/"  class="action-bar-link"><%= t('menu.button') %></a>
          <div class="action-bar-icon"></div>
        </div>
        <div id="language-select">
          <%= form_tag do |form| %>
          <%= select_tag :language, options_for_select([['English', 'en'], ['Finnish', 'fi']], I18n.locale.to_s) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascripts %>
  </body>
</html>
